<h1>Hello new member</h1>

Thanks for registering! To confirm your registration click the URL below.

<%= "http://www.momyandady.com/users/#{User.last.id}/edit"%>  and enter your registration token

<%=User.last.confirm_token%>
