
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://res.cloudinary.com/erezfriemagor/image/upload/v1536598730/pexels-photo-225017_1.jpg');">
  <center><h1>The co-parenting<br>
  dating website</h1>
    <div id="subtitle">Moms and Dads<br>
   find someome right to have kids with</div>

  <div><%= link_to "Find Out Who You Want To Raise Kids With", parents_path, class: 'btn btn-primary  btn-lg',id: "target"%></div></center>


<% if user_signed_in? %>
<% if current_user.email_confirmed != true%>
 <div id="email">email not confirmed please confirm your email</div>
<% end %>
<% end %>
</div>

 <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>


<style>


h1:hover {color:#4b5e26;}
#target:hover {color:#265b5e;}
#subtitle
{

  color: #66ccff;
  margin-bottom:90px;
  text-decoration:underline;
  font-size:40px;
  margin-left:-600px;

}

{
  color:red;
}

#home-banner

{

  margin-top:-20px;
}

@media (min-width:1200px){
#email
#subtitle
{

  color: #66ccff;
  margin-bottom:90px;
  text-decoration:underline;
  font-size:40px;
  margin-left:-600px;

}

h1{
  margin-left:80px;
  padding-top:130px;
  color:#ff66cc;
  font-size:120px;
  margin-bottom:5px;
  margin-left:-600px;
}
.btn-lg
{

   margin-left:-600px;
}


}

@media only screen and (max-width: 1200px) and (min-width: 767px)  {...}{
#subtitle
{

  color: #66ccff;
  margin-bottom:90px;
  font-size:30px;
  margin-right:500px;
  text-decoration:underline;


}

h1{

  padding-top:130px;
  color:#ff66cc;
  font-size:40px;
  margin-left:-550px
}

.btn-lg
{

  margin-left:-550px;
}


}

@media (max-width:767px){

.banner
{
   background-size: 600px 800px;
}
  #subtitle
  {

    color: #66ccff;
    font-size:15px;
    margin-left:-1600px



  }

  h1{

    padding-top:130px;
    color:#ff66cc;
    font-size:30px;
    margin-left:-1600px

  }

  .btn-lg
  {

    margin-left:-1600px;
    font-size:12px;
    margin-top:50px;


  }


  }
</style>

<script>

   $( document ).ready(function() {


let current = 0;

function nextBackground() {


   if (current == 0)
    {

     $('.banner').css('background-image','url(https://res.cloudinary.com/erezfriemagor/image/upload/v1538850886/child-childrens-baby-children-s.jpg)');
     $("#subtitle").css("color", "red");
     $("h1").css("color", "purple");

   }


   else if (current ==1)
    {

     $('.banner').css('background-image','url(https://res.cloudinary.com/erezfriemagor/image/upload/v1547594461/pexels-photo-1688253.jpg)');
     $("#subtitle").css("color", "yellow");
     $("h1").css("color", "#f4e542");
}

 else if (current == 2)
    {

    $('.banner').css('background-image','url(https://res.cloudinary.com/erezfriemagor/image/upload/v1547412209/pexels-photo-1462634.jpg)');
    $("#subtitle").css("color", "green");



}

else
{

   $('.banner').css('background-image','url(https://res.cloudinary.com/erezfriemagor/image/upload/v1538658874/pexels-photo-1148998.jpg)');
   $("#subtitle").css("color", "blue");
   $("h1").css("color","#42f46e");
  current = -1;
}

current ++;


}


   setInterval(function(){nextBackground();},5000);


  });





</script>






















