
<div class="banner"  style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://res.cloudinary.com/erezfriemagor/image/upload/v1536598730/pexels-photo-225017_1.jpg');">
  <center><h1>The co-parenting<br>
  dating website</h1>
    <div id="subtitle">Moms and Dads<br>
   find someome right to have kids with</div>

  <div><%= link_to "Find Out Who You Want To Raise Kids With", parents_path, class: 'btn btn-primary  btn-lg'%></div></center>

</div>

<style>

#home-banner

{

  margin-top:-20px;
}

@media (min-width:1200px){
#subtitle
{

  color: #66ccff;
  margin-bottom:90px;
  text-decoration:underline;
  font-size:40px;
  margin-left:-600px;

}

h1{
  margin-left:80px;
  padding-top:130px;
  color:#ff66cc;
  font-size:120px;
  margin-bottom:5px;
  margin-left:-600px;
}
.btn-lg
{

   margin-left:-600px;
}


}

@media only screen and (max-width: 1200px) and (min-width: 767px)  {...}{
#subtitle
{

  color: #66ccff;
  margin-bottom:90px;
  font-size:30px;
  margin-right:500px;
  text-decoration:underline;


}

h1{

  padding-top:130px;
  color:#ff66cc;
  font-size:40px;
  margin-left:-550px
}

.btn-lg
{

  margin-left:-550px;
}


}

@media (max-width:767px){

.banner
{
   background-size: 300px 600px;
}
  #subtitle
  {

    color: #66ccff;
    font-size:15px;
    margin-left:-1600px



  }

  h1{

    padding-top:130px;
    color:#ff66cc;
    font-size:30px;
    margin-left:-1600px

  }

  .btn-lg
  {

    margin-left:-1600px;
    font-size:12px;
    margin-top:50px;


  }


  }
</style>






















