
<div class="banner" id="home-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://res.cloudinary.com/erezfriemagor/image/upload/v1536598730/pexels-photo-225017_1.jpg');">
  <center><h1>Moms and Dads</h1><
  <h2>find someome right to have kids with</h2>


  <div><%= link_to "Find Out Who You Want To Raise Kids With", parents_path, class: 'btn btn-primary  btn-lg'%></div></center>


</div>

<style>

#home-banner

{

  margin-top:-20px;
}




@media (min-width:1200px){
h2
{

  color: #66ccff;
  margin-bottom:90px;

}

h1{

  padding-top:130px;
  color:#ff66cc;
  font-size:120px;
}

}

@media (max-width:1200px){
h2
{

  color: #66ccff;
  margin-bottom:90px;
  font-size:30px;
  margin-left:-500px

}

h1{

  padding-top:130px;
  color:#ff66cc;
  font-size:50px;
  margin-left:-550px
}

.btn-lg
{

  margin-left:-550px;
}


}

@media (max-width:767px){
  h2
  {

    color: #66ccff;
    margin-bottom:90px;
    font-size:15px;
    margin-left:-1600px

  }

  h1{

    padding-top:130px;
    color:#ff66cc;
    font-size:30px;
    margin-left:-1600px
  }

  .btn-lg
  {

    margin-left:-1600px;
    font-size:12px;


  }


  }
</style>


<!--




@media (max-width: 767px) {
  266     .card1{
  267        width:50vw;
  ...
  272  }
  273
  274: @media (min-width:767px)  {
  275  .card1{
  276        width:25vw;
  ...
  282  }
  283
  284: @media (min-width:1200px)  {
  285  .card1{
  286
 -->





















