<div class="index_banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://res.cloudinary.com/erezfriemagor/image/upload/v1545252788/pexels-photo-235554.jpg');">
  <table>
    <tr>
     <th>quaterly</th>
     <th>Monthly</th>
     <th>yearly</th>
   </tr>
   <tr>
     <td>3 usd</td>
     <td>1usd</td>
     <td>10 usd</td>

    </tr>
   <tr>
    <% @subscriptions.each do |subscription| %>
    <td><%= link_to "purchase", subscription_path(subscription),class: "btn-primary btn-lg"%></td>
    <% end %>
    <tr>

    </table>
  </div>
  <style>

  table
  {
    width:900px;
    color:white;
    font-size:40px;
  }

  .index_banner{height:100vh;}
  .btn-primary{padding:5px;}

</style>
