
<div class="banner" id="home-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://res.cloudinary.com/erezfriemagor/image/upload/v1538324512/kids-girl-pencil-drawing-159823.jpg');">

 <center><h1>About Us</h1></center>
 <p>
 In the new age there is a growing number of individuals who would like to become parents,and are not a part of a traditional family.
</p>

 <p>

  If you are a part of this ever growing group this website comes as a service to you.

  <p>

    This service is aimed at couples as well as individuals.

 </p>

 <p>

    We believe there can be diffrent combinations and variations in which parenthood can be achieved.

</p>

 <p>
    The basic principle is the same one that applies to every aspect in life of which all things should disscussed and mutualy agreed upon.

 </p>

</div>

<style>

#home-banner

{

  margin-top:-2.3vh;
}

h1
{

  color:white;
  text-decoration:underline;
  margin-bottom:80px;
  font-size:60px;
}

p
{

  font-size:30px;
  color:white;
  width:60vw;
  margin-left:5px;
  margin-bottom:30px;

}


</style>

